$yellowBackground: #F2EC54;
$baseBackground: #FFFEF0;
$blackTextColor: #000000;
$grayTextColor: #3F3F46;
$buttonBackground: #5D5FEF;
$buttonBackgroundDisabled: #52525B;
$buttonTextColor: #FFF;
$inputBorderColor: #D4D4D8;
$cardBackground: #FFF;
$cardBorderColor: #000000; 

$radius: 5px;
